* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 600px;
  height: 450px;
  border: 3px solid black;
  position: relative;
  background-color: lightgray;
}

.text {
  cursor: default;
}

#action-box {
  border: 3px solid black;
  height: 125px;
  width: 594px;
  position: absolute;
  top: 320px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.user-stats {
  border: 1px solid black;
  width: 270px;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  top: 240px;
  left: 300px;
  background-color: rgb(240, 212, 175);
}

#user-max {
  width: 200px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

#user-actual {
  width: 200px;
  height: 15px;
  border: 1px solid black;
  position: relative;
  bottom: 15px;
  background-color: lightgreen;
  border-radius: 5px;
}

#currentHealthNum {
  position: absolute;
  left: 210px;
  top: 22px;
}

#user-pokemon img {
  position: absolute;
  top: 175px;
  left: 20px;
  height: 200px;
  width: 200px;
}

.cpu-stats {
  border: 1px solid black;
  padding: 5px;
  width: 250px;
  position: absolute;
  border-radius: 10px;
  top: 25px;
  right: 300px;
  background-color: rgb(240, 212, 175);
}

#cpu-name {
  top: 25px;
  right: 275px;
}

#cpu-max {
  width: 200px;
  height: 15px;
  border: 1px solid black;

  top: 50px;
  right: 175px;
  border-radius: 5px;
}

#cpu-actual {
  width: 200px;
  height: 15px;
  border: 1px solid black;
  position: relative;
  bottom: 15px;

  background-color: lightgreen;
  border-radius: 5px;
}

#cpu-pokemon img {
  position: absolute;
  top: 25px;
  right: 50px;
  height: 150px;
  width: 150px;
}

.receiveDamageAnimation {
  animation: receiveDamage;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

@keyframes receiveDamage {
  from {
    margin-right: 10px;
  }
  to {
    margin-left: 10px;
  }
}

.activatHealthAnimation {
  animation: healthAnimation;
  animation-duration: 3s;
}

@keyframes healthAnimation {
  from {
    width: 200px;
  }
  to {
    width: 0px;
  }
}

.userAttackAnimation {
  animation: userAttack;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes userAttack {
  0% {
    left: 15px;
  }
  75% {
    left: 15px;
  }
  100% {
    left: 80px;
  }
}

.cpuFaintAnimation {
  animation: cpuFaintAnimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes cpuFaintAnimation {
  0% {
  }
  100% {
    margin-top: 100px;
    opacity: 0;
  }
}

#slot1container:hover {
  opacity: 0.5;
}

#slot2container:hover {
  opacity: 0.5;
}

#slot3container:hover {
  opacity: 0.5;
}

#slot4container:hover {
  opacity: 0.5;
}

#oval {
  width: 200px;
  height: 75px;
  background-color: darkgray;
  border-radius: 50%;
  position: absolute;
  right: 35px;
  top: 125px;
  z-index: -1;
}
